body {
  font-family: Georgia, serif;
  background-color: orange;
}

p {
  font-family: Georgia,bold;
  font-size: 24px;
}

h1 {
  font-family: cursive, bold;
  font-size: 32px;
  color: #051f7a
}

.fancy {
  font-family: Georgia,bold;
  font-size: 20px;
  color: #a0836a0
}
