body {
  font-family: Georgia, serif;
  background-color: orange;
}

p {
  font-family: cursive;
  font-size: 18px;
}

h1 {
  font-family: Georgia, serif;
  font-size: 32px;
  color: #051f7a
}

.fancy {
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
  color: #a83297
}
